body {
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 230px;
}
.container {
  border: 2px solid #fff;
  border-radius: 8px;
  width: clamp(210px, 90vw, 380px);
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: #fff;
}